/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #051d33;
  }
  
  #grad4 {
    height: 100px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(-90deg, red, white); /* Standard syntax (must be last) */
  }
  
  ol {
    padding-left: 15px;
  }
  
  .accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #dee2e6;
    text-align: left;
    outline: none;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.4s;
  }
  
  .accordion:hover {
    border: rgba(0,103,127,0.8) 2px solid !important;
  }
  
  .accordion:after {
    font-family: "Material Icons";
    font-size: 20px;
    content: '\e313';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.active {
    background-color: #F3FAFD;
  }
  
  .accordion.active:after {
    font-family: "Material Icons";
    font-size: 20px;
    content: "\e316";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
  }
  
  * {box-sizing: border-box}
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    width: 33.333333333%;
  }
  
  .tablink:hover {
    background-color: #777;
  }

  .tablink:focus {background-color:rgb(109, 199, 190);
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    padding: 20px 20px;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  .tab button:focus{background-color:red;}
  
  /* Style the tab content */
  .tabsimplecontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  pre, textarea {
      background: #f4f4f4;
      border: 1px solid #ddd;
      border-left: 3px solid #6DC7BE;
      color: #666;
      page-break-inside: avoid;
      font: normal normal 13px/16px Courier New,Courier,Monospace;
      line-height: 1.0;
      margin-bottom: 1.6em;
      max-width: 100%;
      padding: .5em 1em;
      display: block;
      word-wrap: break-word;
      overflow: auto;
      overflow-x: auto;
      white-space: pre-wrap;
      counter-reset: line;
  }
  
  pre:hover,
  pre:focus {
      /* what ever action */
      /* this is just example */
      border-left: 3px solid #00677F;
  }
  
  textarea:hover,
  textarea:focus {
      /* what ever action */
      /* this is just example */
      border-left: 3px solid #00677F;
  }
  
  pre .line-number {
      float: left;
      margin: 0 1em 0 -1em;
      border-right: 1px solid;
      text-align: right;
  }
  
  pre .line-number span {
      display: block;
      padding: 0 .5em 0 1em;
      font-size: 14px;
      font-family: Courier New,Courier,Monospace;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left: 40%;
    margin-top: 20%;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  zebraTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr.active {
    background-color: #ffffff;
  }
  
  simpleCode {
    font-family: monospace;
  }
  
  .btn {
      cursor: pointer;
      background-color: #00677F;
      color: #ffffff;
      border: 2px solid #00677F;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding: .375rem .75rem;
      font-size: 16px;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .btn:hover {
      background-color: #007f9c;
      border: 2px solid #007f9c;
  }
  
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 15px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  #myBtn {
    width:55px;
    height:55px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #6DC7BE;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
  }
  
  #myBtn:hover {
    background-color: #00677F;
  }
  
  #myBtn .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 12px;
  }
  
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    right: 45px;
    background-color: #fefefe;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #6DC7BE;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 0.1px 16px;
    background-color: rgba(5,29,51,.8);
    color: white;
  }
  
  .modal-body {
    min-height: 150px;
    max-height: 400px;
    padding: 2px 16px;
    overflow-y: auto;
  }
  
  /* The Modal 2 (background) */
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 8px 24px 16px 24px;
    border: 1px solid #888;
    width: 72%;
  }
  
  /* The Close Button */
  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  p.callback {
    border: 1px solid #6DC7BE;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F3FAFD;
    font-size: 13px;
  }
  
  .number {
    font-size: 16px;
    font-weight:bold;
    color:#3f8d9f;
  }
  
  button.more, button.less {
    background-color: white;
    border: 0px;
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button.more:after {
    font-family: "Material Icons";
    font-size: 20px;
    vertical-align: middle;
    content: "\e313";
  }
  
  button.less:after {
    font-family: "Material Icons";
    font-size: 20px;
    vertical-align: middle;
    content: "\e316";
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 260px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card2 {
    background-color: white;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 22%;
    height: 65px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
  }
  
  .card:hover {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
  }
  
  .card2:hover {
    box-shadow: 20px 20px 30px 20px rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
  }
  
  .container2 {
    font-size: 12px;
    padding: 2px 8px;
  }
  
  .cardsImage {
    object-fit: cover;
  
    width: 300px;
    height: 168.68px;
    border-radius: 5px 5px 0 0;
  }
  
  .cardsImage2 {
    object-fit: cover;
  
    width: 50px;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  }